.header {
  margin: 0 auto;
  width: 1120px;
  height: 104px;
  border-bottom: 1px solid #E7E7E7;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {}

  &__icons {}

  &__icons-person {
    margin: 0 20px;
  }
}
