.card-book {
  margin: 0 auto 50px;
  width: 1120px;

  &__image {
    width: 544px;
    height: 472px;
    background-color: #FEE9E2;
    text-align: center;
    padding-top: 50px;
    position: relative;
  }

  &__favorite {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__card-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__data {
    border: 1px solid #E7E7E7;
    width: 448px;
    height: 472px;
    padding: 10px;
    line-height: 32px;
  }

  &__estimate {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px;
  }

  &__price {
    font-weight: 700;
    font-size: 40px;
  }

  &__authors {}

  &__publisher {}

  &__language {}

  &__format {}

  &__preview {
    text-align: center;
    border: 1px solid black;
    margin-top: 50px;
  }

  &__subtitle {
    margin-top: 50px;
    font-weight: 400;
    width: 1120px;
  }
}

.btn {
  width: 400px;
}

.btn-secondary {
  text-transform: uppercase;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}
