.cart {
  margin: 0 auto;
  width: 1120px;
  text-align: start;

  &__title {
    width: 1144px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 56px;
    font-weight: 700px;
    line-height: 64px;
    margin: 40px 50px;
  }
}
