.books {
  width: 1120px;
  margin: 0 auto;

  &__title {
    font-weight: 700;
    font-size: 56px;
    margin: 50px 0 30px;
    font-family: "Bebas Neue", sans-serif;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
