.price {
  border: 1px solid black;
  width: 300px;
  margin-left: 800px;
  padding: 10px;

  &__sum {
    margin: 10px;
  }

  &__vat {
    margin: 10px;
  }

  &__total {
    margin: 20px 0 20px 10px;
    font-weight: 700;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
  }

  &__total-price {
    padding-right: 10px;
  }
}

